/*-Header Setup-*/
#SerHead{
  background-color: #FFCC00;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#headLeft{
  text-align: left;
  margin-left: 5px;
}

#headRight{
  text-align: right;
  margin-right: 5%;
}

#headCenter{
  text-align: center;
}
.SerBody{
  padding-top: 17.5%;
}

.card{
  border-radius: 1rem;
  border: solid 2px #55AEFFFF;
  display: inline-block;
  /*-Content-Margins: Keeps Page Content from overlapping-*/
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  margin-top: 15px;
  /*--*/
  width: 450px;
  background-color: #EF0;
  max-width: 50%;
  height: 150px;
}

.ContentWrapper{
  padding: 5mm;
  margin-top: 55px;
  text-align: center;
}

body{
  background-color: #00F;
}

/*-Background Images for the Cards-*/
#Battery.card {
  background-image: url(../img/Delka.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 1.0;
  border: solid 2px #55AEFFFF;
}

#Battery.card:hover, background-image{
  opacity: 0.1;
  border: solid 2px #55AEFFFF;
}
