/*-Header Setup-*/
#SerHead{
  background-color: #FFCC00;
  flex-direction: row;
  position: fixed;
  width: 99%;
  z-index: 1;
  height:360px;
  color: #FDFD00;
}

#headLeft{
  margin-left: 5%;
  float:left;
  width:25%;
  height: 100%;
  font-size: 50px;
}

#headRight{
  margin-right: 5%;
  float: right;
  width:25%;
  height: 100%;
  font-size: 50px;
}

#headCenter{
  float:left;
  width:50%;
  height: 100%;
}

#box{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items:center;
}

#box img{
  height: 75%;
  width: 75%;
}

.SerBody{
  padding-top: 17.5%;
}

.cardBlock{
  width: inherit;
  height: 85%;
}

.cardBlock img{
  border-radius: 1rem;
  height: inherit;
  width: 95%;
  object-fit: fill;
}

.cardRibbon{
  height: 15%;
}

.card{
  border-radius: 1rem;
  border: solid 2px #55AEFFFF;
  display: inline-block;
  /*-Content-Margins: Keeps Page Content from overlapping-*/
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  margin-top: 15px;
  /*--*/
  height: 300px;
  width: 300px;
  background-color: #EF0;
}

.ContentWrapper{
  padding: 5mm;
  margin-top: 55px;
  text-align: center;
}

.ribbon{
  background-color: #;
}

body{
  background-color: #00F;
}

/*Content changes with Device*/
@media only screen and (min-width: 490px) and (max-width: 950px){
  /*Tablet Colors and Rules*/
  #SerHead{
    text-align: center;
    padding-top: 20px;
    height: 250px;
  }

  #headLeft{
    margin-left: 8%;
    width:15%;
    height: 80%;
    font-size: 30px;
  }

  #headRight{
    margin-right: 8%;
    width:15%;
    height: 80%;
    font-size: 30px;
  }

  #headCenter{
    width:60%;
  }

}

@media only screen and (min-width: 1px) and (max-width: 490px){
  /*CellPhone*/
  #SerHead{
    text-align: center;
    padding-top: 20px;
    height: 200px;
  }

  #headCenter{
    width:100%;
  }

  #headLeft{
    margin-left: 0%;
    width: 0%;
    height: 0%;
    font-size: 0px;
    opacity: 0%;
  }

  #headRight{
    opacity: 0%;
    margin-right: 0%;
    width: 0%;
    height: 0%;
    font-size: 0px;
  }
}
